# R to python

with the rpy2 we can run R code into an txt file or just plain text, then setting into a <i> robjects.r() </i> function


to run the following it is necesary to have installed R on your computer https://www.r-project.org/ <br>
and install rpy2 by <code> pip install rpy2 </code>

# LINEAR MODEL IN R
los chunks a continuacion son una implementacion de Rpy2 para correr un <i>lm()</i>  en R y desplegar los resultados y plots en python

In [1]:
import pandas as pd
import numpy as np
import datetime
from pathlib import Path
from rpy2 import robjects

#from tadpole_algorithms.models import BenchmarkLastVisit
#from tadpole_algorithms.preprocessing.split import split_test_train_tadpole
#import os
#os.environ['R_HOME'] = "C:/Program Files/R/R-3.6.3"

#import sys
# insert at 1, 0 is the script path (or '' in REPL)
#sys.path.insert(1, '/Users/Eider/Documents/GitHub/tadpole-algorithms')

import tadpole_algorithms
from tadpole_algorithms.models import BenchmarkSVM_R

In [2]:
#instanciate the model to get the functions
model = BenchmarkSVM_R()

In [5]:
#load a csv and do some preprosess so R can handle it
df_diab = pd.read_csv("diabetes.csv")
#call the preprocess function to create a R dataframe with a python dataframe
df_diab_r = model.preprocess_df_R(df_diab)
df_diab_r

R object with classes: ('data.frame',) mapped to:
[FloatSexpVector, FloatSexpVector, FloatSexpVector]
  age: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x7fc74f99cdc0> [RTYPES.REALSXP]
  acidity: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x7fc74f9a1280> [RTYPES.REALSXP]
  y: <class 'rpy2.rinterface.FloatSexpVector'>
  <rpy2.rinterface.FloatSexpVector object at 0x7fc74f9a1460> [RTYPES.REALSXP]

In [6]:
#model the data with a linear model and get the results
diab_lm = model.modelfitting_R(model="lm",
                               formula="y~.",
                               dataframe=df_diab_r) #can also use a 'dumb' formula and pass a dataframe
#diab_lm

In [7]:
#more detail results
print(diab_lm.names) # view all names

 [1] "coefficients"  "residuals"     "effects"       "rank"
 [5] "fitted.values" "assign"        "qr"            "df.residual"
 [9] "xlevels"       "call"          "terms"         "model"

In [8]:
#create a new dataframe 

predict_df = pd.DataFrame({'age': np.random.normal(9, 4, 100),
                           'acidity':np.random.normal(-8,7,100) } )
#parse python df to R df
predict_df_R = model.preprocess_df_R(predict_df)
#predict using our model on new data
predictions = model.predict_R(model=diab_lm,
                              test_df=predict_df_R)

predictions

R object with classes: ('numeric',) mapped to:
[4.463688, 5.523537, 5.000304, 5.393809, ..., 4.858787, 4.301887, 4.874336, 5.037057]

# BWSIMS (UNDER CONSTRUCTION)

In [9]:
bswimstext = ""
with open('./BSWIMS.txt', 'r') as file:
    #this file contains the BSWIMS function 
    bswimstext = file.read()

robjects.r(bswimstext)

#robjects.r(''' BSWiMS.model(formula = paste(theOutcome," ~ 1"),data = theData,NumberofRepeats = bswimsReps) ''')

R object with classes: ('function',) mapped to:

# SVM IN R(UNDER CONSTRUCTION)

In [14]:
diab_svm= model.SVM_fitting_R(formula="y~.",dataframe=df_diab_r)
#predict using our model on new data
predictions = model.predict_R(model=diab_svm,
                              test_df=predict_df_R)
predictions

R object with classes: ('numeric',) mapped to:
[4.424855, 5.453082, 4.904385, 5.390177, ..., 4.801156, 4.412096, 4.954831, 4.953576]

In [15]:
FRESA = importr('FRESA.CAD')

In [16]:
FRESA

rpy2.robjects.packages.Package as a <module 'FRESA.CAD'>

In [6]:
df = model.tadpole_tidyng()

..................................................500
....................................

In [7]:
df

R object with classes: ('data.frame',) mapped to:
[FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  status: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[0.000000, 0.000000, 1.000000, 0.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]
  APOE4: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[0.000000, 0.000000, 0.000000, 0.000000, ..., 1.000000, 1.000000, 1.000000, 0.000000]
  ST101SV_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-0.581705, -1.044332, -0.993279, -0.250458, ..., -0.527155, -1.260823, -0.216676, -0.741923]
  ST102CV_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-0.812913, -1.455776, -0.560492, -1.473428, ..., -0.533070, -0.428084, -0.830009, -0.177401]
...
  ST102TA_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[0.127127, -2.247323, -1.969795, -0.385249, ..., -0.176313, -0.971732, -0.796516, -0.224219]
  ST102TS_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-1.064546, -2.103676, -2.634284, -0.786493, ..., -0.208385, -0.583126, -0.356367, 0.129602]
  ST103SA_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-0.872794, -1.245580, -0.597402, -0.553369, ..., -0.034488, 0.115151, -1.221647, -0.429631]
  ST103TA_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
[-1.155595, -0.393731, -0.926730, -0.236046, ..., -0.726872, 0.086282, -0.462579, -0.023989]